<!DOCTYPE html>
<html>
    <head>
        <title>Unsubscribe</title>
        <meta charset="utf-8">
    </head>
        <body>
        <h1>Unsubscribe page</h1>
        <h2>{{ product.name }} 에 대한
        {{ subscriber.email_hidden }} 님의</h2>
        <form method="POST">{% csrf_token %}
            <p>
                <label for="id_email">Full Email:</label>
                <input type="email" name="email" maxlength="254" required id="id_email">
            </p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>